* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(180deg,deeppink,blue);
    margin-top: 50px;	

}

.menuPrincipal a{
    text-decoration: none;
    text-decoration-line: none;	
    font-size: 200;
    text-decoration-style: none;
    color: #f6007b;
    position: relative;
    top: 20px;
      
}
.menuPrincipal{
    background-color: white;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    font-size: 20px;
    font-family: cambria;
    text-align: center;
    word-spacing: 20px;
    box-shadow: 2px 2px 25px black;
    padding: 15px;
    z-index: 2;
    
}
a:hover{	
    color: #0000CD;
    transition: 1s;
}   
.conteudo {
    height: 1000px;
    padding-top: 100px;
    padding-bottom: 50px;
    color: white;
    opacity: 85%;
    width: 90%;
    border-radius: 15px;
 
}    

footer{
    background-color: white;
    height: 100px;
    padding: 20px;
    box-shadow: 2px 2px 25px black;	
    align-items: center;
    
}
.escritaFooter{
    text-align: center;
    padding: 15px;
    font-family: roboto;
    
}
