* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(180deg,deeppink,blue);
    margin-top: 50px;	

}

.menuPrincipal a{
    text-decoration: none;
    text-decoration-line: none;	
    font-size: 200;
    text-decoration-style: none;
    color: #f6007b;
    position: relative;
    top: 20px;
      
}
.menuPrincipal{
    background-color: white;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    font-size: 20px;
    font-family: cambria;
    text-align: center;
    word-spacing: 20px;
    box-shadow: 2px 2px 25px black;
    padding: 15px;
    z-index: 2;
    
}
a:hover{	
    color: #0000CD;
    transition: 1s;
}   
.conteudo {
    height: 5500px;
    color: black;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.6);
    position: relative;
    left: 63px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 2px 2px 25px #000;
    margin-top: 50px;
    margin-bottom: 50px;
} 

footer{
    background-color: white;
    height: 100px;
    padding: 20px;
    box-shadow: 2px 2px 25px black;	
    align-items: center;
    
}
.escritaFooter{
    text-align: center;
    padding: 15px;
    font-family: roboto;
    
}

.pesquisa{
    font-size: 18px;
    color: black;
    text-align: center;
    font-family: roboto;   
}

.tituloPesquisa{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: #ff007f;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}

.img{
    width: 750px;
    height: 500px;
    display: grid; 
    margin: 0 auto;
    border-radius: 10px;    
}

.img:hover{
    transform: scale(1.05);
    transition: 2s;    
}

.divLaço{
     max-width: 60px;
    max-height: 60px;
    transform: rotate(-30deg);
    position: relative;
    bottom: 20px;
    right: 20px;    
}

.laço{
    width: 60px;
    height: 60px;
    animation: rotate 3s infinite;   
}


@keyframes rotate{
    0% {transform: rotate(30deg);}
    50% {transform: rotate(30deg);}
    100% {transform: rotate(0deg);}
    0% {transform: rotate(0deg);}   
}

.imgE{
    width: 450px;
    height: 500px;
    display: grid; 
    margin: 0 auto;
    border-radius: 10px;     
}

.imgE:hover{
    transform: scale(1.05);
    transition: 2s;    
}

.imgCura{
    height: 450px;
    width: 450px;
    display: grid; 
    margin: 0 auto;
    border-radius: 10px;
}   

.imgCura:hover{
    transform: scale(1.05);
    transition: 2s;    
}

.imgP{
    height: 450px;
    width: 600px;
    display: grid; 
    margin: 0 auto;
    border-radius: 10px;
}   

.imgP:hover{
    transform: scale(1.05);
    transition: 2s;    
}

.tituloPesquisaA{
    font-size: 31px;
    font-weight: bold;
    color: #ff007f;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    position: relative;
    left: 10px;
}
