* {
    max-width: 100%;
}

.menuPrincipal{
    background-color: white;
    height: 60px;
    max-width: 100%;
    position: fixed;
    top: 0;
    font-size: 15px;
    font-family: cambria;
    word-spacing: 20px;
    box-shadow: 2px 2px 25px black;
    padding: 15px;
    z-index: 4;

}

.menuPrincipal a{
    text-decoration: none;
    text-decoration-line: none; 
    text-decoration-style: none;
    color: #f6007b;
    position: relative;
    right:15px;
}
.noMenu a{
    color: #0000CD;

}
.parteConteudo{
    height: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;

}
.parteVideo {
    padding: 20px;
    width: 320px;
    height: 200px;
    position: relative;

}
.video {
    width: 320px;
    height: 200px;

}
footer{
    background-color: white;
    height: 100px;
    max-width: 100%;
    padding: 10px;
    box-shadow: 2px 2px 25px black;	
    align-items: center;

}
.escritaFooter{
    text-align: center;
    padding: 10px;
    font-family: roboto;

}
