* {
    max-width: 100%;
}

.menuPrincipal{
    background-color: white;
    height: 60px;
    max-width: 100%;
    position: fixed;
    top: 0;
    font-size: 15px;
    font-family: cambria;
    word-spacing: 20px;
    box-shadow: 2px 2px 25px black;
    padding: 15px;
    z-index: 4;

}

.menuPrincipal a{
    text-decoration: none;
    text-decoration-line: none; 
    text-decoration-style: none;
    color: #f6007b;
    position: relative;
    right:15px;
}
.noMenu a{
    color: #0000CD;

}
.l {
    width: 40px;
    height: 60px;
    animation: laço infinite 3s;   
}
@keyframes laço {   
    0% {transform: translateY(0px);}
    50% {transform: translateY(10px);}
    100% {transform: translateY(0px);}
}
.L{
    position: fixed;
    z-index: 5;
    right: 4%;
    transform: rotate(15deg); 
    top: 8%;
}

.tituloPrincipal{ 
    text-align: center;
    max-width: 45%;
    padding-bottom: 60px;
    font-family:serif;
    
}
#letra {
    position: relative;
    font-size: 3rem;
    width: 250px;
    color: #fff;
    z-index: 2;
    text-align: center;
    text-shadow: 2px 2px 25px #000;
    -webkit-text-stroke-color: deeppink;
    -webkit-text-stroke-width: 1px;
}
#letra:before {
    content: none;
    
}
#Voltar {
    background-color: transparent;
    border: none;
    cursor: pointer;
    float: left;
    position: absolute;
    left: 5%;
    top:30%;
    
}
#Avançar {
    background-color: transparent;
    border: none;
    cursor: pointer;
    float: right;
    position: absolute;
    right: 5%;
    top:30%;
    
}

#Voltar img{
    width: 20px;
    height: 20px;
    transform: rotate(180deg);
}

#Avançar img{
    width: 20px;
    height: 20px; 
}
.espacamento{
    height: 190px;
    width: auto;
    background: #fff;
    padding-top:10px;
    box-shadow: 2px 2px 25px #;
    
}
.parteConteudo{
    height: 600px;
    padding-top: 0px;
    padding-bottom: 50px;
    color: #000;
    background: #fff;
    opacity: 85%;

}
footer{
    background-color: white;
    height: 150px;
    max-width: 100%;
    padding: 10px;
    box-shadow: 2px 2px 25px black;	
    align-items: center;
    
}
.escritaFooter{
    text-align: center;
    padding: 10px;
    font-family: roboto;
    
}
.redessociais img{
    height: 20px;
    width: 20px;
    position: relative;
    border: 10px solid white;
    box-shadow: 1px 1px 5px black;    
    border-radius: 35%;

}
.imagens{
    position: relative;
    width: auto;
    height: auto; 
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 25px deeppink;
    
}
.trocaImagens{
    height: 160px;
    animation: mudaImagem 30s infinite; 
    display: block; 
    align-items: center; 
    text-align: center; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 

} 
@keyframes mudaImagem { 
0% { 
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSWjcnYj8HGjPTA40Woa3uQZ-uKZUm5A6f5Q&usqp=CAU');
    border-radius: 5px;
    height: 160px;
    
} 
25% {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMWimWfRippApCNG3WTVJZzGtkdYRgGCtCJw&usqp=CAU');
    border-radius: 5px;
    height: 160px; 
} 
50% {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSWjcnYj8HGjPTA40Woa3uQZ-uKZUm5A6f5Q&usqp=CAU');
    border-radius: 5px;
    height: 160px; 
    
} 
75% {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMWimWfRippApCNG3WTVJZzGtkdYRgGCtCJw&usqp=CAU');
    border-radius: 5px;
    height: 160px; 
    
} 
100% { 
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSWjcnYj8HGjPTA40Woa3uQZ-uKZUm5A6f5Q&usqp=CAU');
    border-radius: 5px;
    height: 160px; 
    
} 
}
