* {
    max-width: 100%;
}

.menuPrincipal{
    background-color: white;
    height: 60px;
    max-width: 100%;
    position: fixed;
    top: 0;
    font-size: 15px;
    font-family: cambria;
    word-spacing: 20px;
    box-shadow: 2px 2px 25px black;
    padding: 15px;
    z-index: 4;

}

.menuPrincipal a{
    text-decoration: none;
    text-decoration-line: none; 
    text-decoration-style: none;
    color: #f6007b;
    position: relative;
    right:15px;
}
.noMenu a{
    color: #0000CD;

}
.l {
    width: 40px;
    height: 60px;
    animation: laço infinite 3s;   
}
@keyframes laço {   
    0% {transform: translateY(0px);}
    50% {transform: translateY(10px);}
    100% {transform: translateY(0px);}
}
.L{
    position: fixed;
    z-index: 5;
    right: 4%;
    transform: rotate(15deg); 
    top: 8%;
}

.tituloPrincipal{ 
    text-align: center;
    max-width: 45%;
    padding-bottom: 60px;
    font-family:serif;
    
}
#letra {
    position: relative;
    font-size: 3rem;
    width: 250px;
    color: #fff;
    z-index: 2;
    text-align: center;
    text-shadow: 2px 2px 25px #000;
    -webkit-text-stroke-color: deeppink;
    -webkit-text-stroke-width: 1px;
}
#letra:before {
    content: none;
    
}    
.parteConteudo {  
    height: 2000px;    
    color: black;    
    width: 75%;       
    position: relative;    
    left: 35px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 2px 2px 25px #000;
    margin-top: 15px;
    margin-bottom: 50px;
    padding: 15px;
}
footer{
    background-color: white;
    height: 150px;
    max-width: 100%;
    padding: 10px;
    box-shadow: 2px 2px 25px black;	
    align-items: center;
    
}
.escritaFooter{
    text-align: center;
    padding: 10px;
    font-family: roboto;
    
}
.redessociais img{
    height: 20px;
    width: 20px;
    position: relative;
    border: 10px solid white;
    box-shadow: 1px 1px 5px black;    
    border-radius: 35%;

}
.imagens{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSz24VerRA6UEfm1Kt4kL4l4wZER4oqycewtg&usqp=CAU");
    background-position: center;
    width: 320px;
    height: 220px;
    position: relative;
    top: 60px;
    background-size: cover;
    animation: mudaImagemMobile infinite 30s;
    z-index: 2;
}
@keyframes mudaImagemMobile{

     0%, 100%{

           background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQEFrrksWS1G2Kvn4_bSpB9Xgo-P6mRFZCKQ&usqp=CAU");
      }
      20%{
      
           background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgVgRX5c4LLMSRrlSxxiwComXrdVXAtQthgg&usqp=CAU");
       }
       40%{

           background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXoTq3t7xgxU7rs_BooDrw-nBzOiMbiLkOXQ&usqp=CAU");
       }
       60%{
    
           background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_MCWBDel_ntzU5fc7bfXqjaTBbOUzA9paxA&usqp=CAU");
       }
       80%{

           background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJWR5O-qfDDhohozxyzjazNTRQWO4fEecP8w&usqp=CAU");
       }
}
