* {
    max-width: 100%;
}

.menuPrincipal{
    background-color: white;
    height: 60px;
    max-width: 100%;
    position: fixed;
    top: 0;
    font-family: cambria;
    word-spacing: 20px;
    box-shadow: 2px 2px 25px black;
    padding: 15px;
    z-index: 4;
    text-align: center;

}

.menuPrincipal a{
    text-decoration: none;
    text-decoration-line: none; 
    text-decoration-style: none;
    color: #f6007b;
    position: relative;
    font-size: 15px;
    
}
.noMenu a{
    color: #0000CD;

}
.parteVideo {
    padding: 20px;
    width: 80%;
    height: 80%;

}
.video {
    width: 100px;
    height: 50px;

}
.parteConteudo{
    height: 1000px;
    padding-top: 80px;
    padding-bottom: 50px;
    color: white;

}
