* {
    max-width: 100%;
}

.menuPrincipal{
    background-color: white;
    height: 60px;
    max-width: 100%;
    position: fixed;
    top: 0;
    font-size: 15px;
    font-family: cambria;
    word-spacing: 20px;
    box-shadow: 2px 2px 25px black;
    padding: 15px;
    z-index: 4;

}

.menuPrincipal a{
    text-decoration: none;
    text-decoration-line: none; 
    text-decoration-style: none;
    color: #f6007b;
    position: relative;
    right:15px;
}
.noMenu a{
    color: #0000CD;

}
.l {
    width: 40px;
    height: 60px;
    animation: laço infinite 3s;   
}
@keyframes laço {   
    0% {transform: translateY(0px);}
    50% {transform: translateY(10px);}
    100% {transform: translateY(0px);}
}
.L{
    position: fixed;
    z-index: 5;
    right: 4%;
    transform: rotate(15deg); 
    top: 8%;
}

.tituloPrincipal{ 
    text-align: center;
    max-width: 30%;
    padding-bottom: 50px;
}
#letra {
    position: relative;
    font-size: 3rem;
    width: 250px;
    color: #000;
    z-index: 2;
    text-align: center;
    left: 5%;
}

#Voltar {
    background-color: transparent;
    border: none;
    cursor: pointer;
    float: left;
    position: sticker;
    left: 5%;
    top:15%;
    
}

#Avançar {
    background-color: transparent;
    border: none;
    cursor: pointer;
    float: right;
    position: sticker;
    right: 5%;
    top:15%;
    
}

#Voltar img{
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
}

#Avançar img{
    width: 30px;
    height: 30px; 
}
.espacamento{
    height: 25px;
    width: auto;
    background: #fff;
    box-shadow: 2px 2px 25px black;
    
}
.parteConteudo{
    height: 1000px;
    padding-top: 80px;
    padding-bottom: 50px;
    color: white;

}
footer{
    background-color: white;
    height: 150px;
    max-width: 100%;
    padding: 10px;
    box-shadow: 2px 2px 25px black;	
    align-items: center;
    
}
.escritaFooter{
    text-align: center;
    padding: 10px;
    font-family: roboto;
    
}
.redessociais img{
    height: 20px;
    width: 20px;
    position: relative;
    border: 10px solid white;
    box-shadow: 1px 1px 5px black;    
    border-radius: 35%;

}
.imagens{
    position: relative;
    width: 80%;
    padding: 5px;
    
}
#troca_imagens{
    border-radius: 10%;
    posiotion: relative;
}
