* {
    max-width: 100%;
}

.menuPrincipal{
    background-color: white;
    height: 60px;
    max-width: 100%;
    position: fixed;
    top: 0;
    font-size: 15px;
    font-family: cambria;
    word-spacing: 20px;
    box-shadow: 2px 2px 25px black;
    padding: 15px;
    z-index: 4;

}

.menuPrincipal a{
    text-decoration: none;
    text-decoration-line: none; 
    text-decoration-style: none;
    color: #f6007b;
    position: relative;
    right: 39.6px;
}
.noMenu a{
    color: #0000CD;

}
.img {
    height: 50px;
    width: 50px; 
    border-radius: 50%;    
    margin-left: 3%;
    position: relative;
    box-shadow: 1px 1px 20px black;
}

.nome {
    color: white;
    font-size: 12px; 
    position: relative;
    margin-left: 16px;
    top: 3px;
}

.p {
   height: 100px;
   width: 250px;
   border-radius: 15px;
   box-shadow: 2px 2px 25px black;
   background: white; 
   position: relative;
   bottom: 75px;
   margin-left: 18%;
   color: black;
   padding-top: 10px;
   font-size: 12px; 
}

.p,.text p{
    padding: 8px; 
}    

.text {
    position: relative;
    margin-left: 4%;
    font-size: 12px;
}

.button {
    border: none;
    border-radius: 8%;
    width: 70px;
    height: 35px;
    position: relative;
    margin-left: 41.5%;
    bottom: 55px;    
    color: white;
    background-color: #f6007b;
    font-size: 12px;
    font-family: roboto;
}
.parteMedico {
    position: relative;
    margin-left: 15px;
    z-index: 0;
}
.button:hover {
    transition: 3s;
    border: 1px solid #f6007b;
    background-color: white;
    color: #f6007b;   
}

.porCima{
    height: 100%;
    width: 0%;
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: rgba(0,0,0,.7);
    
}
.caixaMenu{
    position:relative;
    display:inline-block;
}
.menuLado{
    overflow: hidden;
    background-color: white;    
    position: fixed;
    top: 0;
    left: -780px;  
    height: 100%;
    transition: 0.5s;
    width: 35%;
    z-index: auto;    
}
.menuImg{
    width: 100%;
    height: 100%;
    position: relative;
    left: 15px;
}
@keyframes rotate {
    0% {transform: rotate(360deg);}
    10% {transform: rotate(0deg);}
    70% {transform: rotate(0deg);}
    100% {transform: rotate(0deg);}
}

.menu-aberto{
    position:fixed;
    display: inline-block;
    text-transform: uppercase;
    z-index: 0;
}
.menuLado a, .menu-fechado{
    display: block;    
}

.menu-fechado {
    position: relative;
    margin-left: 128px;
    width: 15px;
    height: 15px;
}

.menuImgF {
    position: relative;
    top: 15px;
    margin-left: 50px;
}
.parteConteudo{
    height: 1000px;
    padding-top: 80px;
    padding-bottom: 50px;
    color: white;

}
footer{
    background-color: white;
    height: 70px;
    max-width: 100%;
    padding: 15px;
    box-shadow: 2px 2px 25px black;	
    align-items: center;
}

.escritaFooter{
    text-align: center;
    padding: 10px;
    font-family: roboto;
}

.oMapa{
    display: none;

}
.mapa{
    width: 300px;
    height: 200px;
    position: relative;
    bottom: 25px;

}
