* {
    max-width: 100%;
}

.menuPrincipal{
    background-color: white;
    height: 60px;
    max-width: 100%;
    position: fixed;
    top: 0;
    font-size: 15px;
    font-family: cambria;
    word-spacing: 20px;
    box-shadow: 2px 2px 25px black;
    padding: 15px;
    z-index: 4;

}

.menuPrincipal a{
    text-decoration: none;
    text-decoration-line: none; 
    text-decoration-style: none;
    color: #f6007b;
    position: relative;
    right:15px;
}
.noMenu a{
    color: #0000CD;

}
.l {
    width: 40px;
    height: 60px;
    animation: laço infinite 3s;   
}
@keyframes laço {   
    0% {transform: translateY(0px);}
    50% {transform: translateY(10px);}
    100% {transform: translateY(0px);}
}
.L{
    position: fixed;
    z-index: 5;
    right: 4%;
    transform: rotate(15deg); 
    top: 8%;
}
.parteVideo {
    padding: 20px;
    width: 100%;
    height: 100%;

}
.video {
    width: 500px;

}
.parteConteudo{
    height: 1000px;
    padding-top: 80px;
    padding-bottom: 50px;
    color: white;

}
