* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(180deg,deeppink,blue);
    margin-top: 50px;	

}

.menuPrincipal a{
    text-decoration: none;
    text-decoration-line: none;	
    font-size: 200;
    text-decoration-style: none;
    color: #f6007b;
    top: 20px;
    
    
}
.menuPrincipal{
    background-color: white;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    font-size: 20px;
    font-family: cambria;
    text-align: center;
    word-spacing: 20px;
    box-shadow: 2px 2px 25px black;
    padding: 15px;
    
}
a:hover{	
    color: black;
    transition: 1s;
}   
.conteudo {
    height: 1500px;   
}  

.text {
position: relative;
margin-left: 20px    ;    
}

.button {
    border: none;
    border-radius: 8%;
    width: 110px;
    height: 50px;
    position: relative;
    margin-left: 510px;
    bottom:100px;    
    color: white;
    background-color: #f6007b;
    font-size: 16px;
    font-family: roboto;
}
.center {
    position: relative;
    margin-left: 80px;   
}
.button:hover {
    transition: 3s;
    border: 1px solid #f6007b;
    background-color: white;
    color: #f6007b;   
}
