* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg,deeppink,blue);
    margin-top: 50px;	

}
.menuPrincipal a{
    text-decoration: none;
    text-decoration-line: none;	
    font-size: 200;
    text-decoration-style: none;
    color: hotpink;
    top: 20px;
    
    
}
.menuPrincipal{
    background-color: white;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    font-size: 20px;
    font-family: cambria;
    text-align: center;
    word-spacing: 20px;
    box-shadow: 2px 2px 25px black;
    padding: 15px;
    
}
a:hover{	
    color: black;
    transition: 1s;
    
}
p{
    text-align: center;
    padding-top: 30px;	
    
}
.tituloPrincipal{
    padding-top: 50px;
    padding-bottom: 100px;
    
}
.outubro{
    font-size: 30px;
    text-align: center;
    color: white;	
    
}

.R {
    text-align: center;
    font-size: 80px;
    color: white;	
    
}
.O {
    text-align: center;
    font-size: 80px;
    position: relative;
    color: white;	
    
}
.S{
    text-align: center;
    font-size: 80px;
    position: relative;
    color: white;	
    
}
.A{
    text-align: center;
    font-size: 80px;
    color: white;	
    
}
.espacamento{
    height: 25px;
    width: auto;
    background: #fff;
    box-shadow: 2px 2px 25px black;
    
}
.parteConteudo{
    height: 1000px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    _
}
footer{
    background-color: white;
    height: 200px;
    padding: 20px;
    box-shadow: 2px 2px 25px black;	
    align-items: center;
    
}
.escritaFooter{
    text-align: center;
    padding: 15px;
    
}
#insta{
    height: 70px;
    width: 70px;
    margin-left: 46%;
    
}
#insta:hover {
    transition: 3s;	
    transform: scale(1.2);	
    
}
.l {
    width: 100px;
    height: 120px;
    animation: laço infinite 3s;
    float: right;
    position: fixed;
    transform: rotate(45deg); 

}
@keyframes laço {	
    0% {transform: translateY(0px);}
    25% {transform: translateY(10px);}
    50% {transform: translateY(20px);}
    100% {transform: translateY(0px);}
}



